body{
  margin: 0 auto;
  padding: 0;
  color: $colorBody;
  font-family: $fontFira;

}
li{
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: white;
  text-align: center;
}

